node_modules
.idea
vs_code
.vs_code
.vscode
obj
**/server_logs.txt
**/server_exceptions.txt
**/bin/x64/Debug/netcoreapp3.1/cs/
**/bin/x64/Debug/netcoreapp3.1/ja/
**/bin/x64/Debug/netcoreapp3.1/it/
**/bin/x64/Debug/netcoreapp3.1/fr/
**/bin/x64/Debug/netcoreapp3.1/Newtonsoft.Json.dll
**/bin/x64/Debug/netcoreapp3.1/NeoSmart.Hashing.dll
**/bin/x64/Debug/netcoreapp3.1/Microsoft.CodeAnalysis.VisualBasic.dll
**/bin/x64/Debug/netcoreapp3.1/Microsoft.CodeAnalysis.CSharp.dll
**/bin/x64/Debug/netcoreapp3.1/Microsoft.CodeAnalysis.dll
**/bin/x64/Debug/netcoreapp3.1/Colorful.Console.dll
**/bin/x64/Debug/netcoreapp3.1/Bootstrapper.xml
**/bin/x64/Debug/netcoreapp3.1/es/
**/bin/x64/Debug/netcoreapp3.1/Bootstrapper.dll
**/bin/x64/Debug/netcoreapp3.1/tr/
**/bin/x64/Debug/netcoreapp3.1/Ben.Demystifier.dll
**/bin/x64/Debug/netcoreapp3.1/zh-Hant/
**/bin/x64/Debug/netcoreapp3.1/de/
**/bin/x64/Debug/netcoreapp3.1/ru/
**/bin/x64/Debug/netcoreapp3.1/cs/
**/bin/x64/Debug/netcoreapp3.1/zh-Hans/
**/bin/x64/Debug/netcoreapp3.1/pt-BR/
**/bin/x64/Debug/netcoreapp3.1/pl/
**/bin/x64/Debug/netcoreapp3.1/ko/
**/bin/x64/Debug/netcoreapp3.1/resourceManager.pdb
**/bin/x64/Debug/netcoreapp3.1/resourceManager.deps.json
**/bin/x64/Debug/netcoreapp3.1/xxHash.dll
