<config>
    <acl_enabled>false</acl_enabled>
    <log_console>true</log_console>
    <log_chat>true</log_chat>
    <resource src="newResource" />
    <resource src="myResource" />
    <resource src="databaseService" />
    <resource src="testResource" />
<resource src="database" /><resource src="Database" /><resource src="TestResource" /></config>