@import "fonts/manrope/manrope-stylesheet.css";
@import url("https://fonts.googleapis.com/css?family=Material+Icons|Material+Icons+Outlined|Material+Icons+Two+Tone|Material+Icons+Round|Material+Icons+Sharp");
@import "transitions";
@import "typography";
@import "animations/slide";
@import "animations/fade";
@import "animations/wrong-shake";

:root {
  --color-background-primary: #1D2025;
  --color-background-tertiary: #5E5E5E;
  --color-background-secondary: #262A31;
  --overlay-backdrop: rgba(29, 32, 37, 0.5);
  --accent-primary: #198AEA;
  --accent-light: #13D6F6;
  --danger: #E43E3E;
  --success: #28C638;
  --warning: #D1C12C;
  --text-secondary: #8d8d8d;
}

html, body {
  background: transparent;
  color: white;
  font-family: 'Manrope', sans-serif;
  font-size: 18px;
  line-height: 1.3;
}


::-webkit-scrollbar {
  width: 3px;
  height: 2px;
  transition: all 0.3s ease;
}

::-webkit-scrollbar-track {
  background: var(--color-background-primary);
}

::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, .5);
  border-radius: 50px;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(255, 255, 255, .6);
}
